---
- name: Setup wifi
  community.openwrt.nohup:
    command: /sbin/wifi
    delay: 1

- name: Reload wifi
  community.openwrt.nohup:
    command: /sbin/wifi reload
    delay: 1

- name: Restart network
  community.openwrt.nohup:
    command: /etc/init.d/network restart
    delay: 1

- name: Wait for connection
  ansible.builtin.wait_for_connection:
    timeout: "{{ openwrt_wait_for_connection_timeout }}"
    delay: 5
  when: openwrt_wait_for_connection
  listen:
    - Setup wifi
    - Reload wifi
    - Restart network
