# Copyright (c) Ansible Project
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)
# SPDX-License-Identifier: GPL-3.0-or-later

# Look for 'source'd files relative to the checked script
source-path=SCRIPTDIR
# Allow opening any 'source'd file, even if not specified as input
external-sources=true

# unused variables - PARAMS is picked up on this, that will always happen in all modules
disable=SC2034

# constructs are compatible with ash
disable=SC3000-SC4000
